html {
  scroll-behavior: smooth;
}
body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0;
	background-color:#000;
}
#naglowek {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
}
	#naglowek h1 {
		height:100px;
		font-size:50px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Permanent Marker', cursive;
		margin:0;
	}
.tresc {
	width:100%;
	float:left;
	height:568px;
	background-image:url(tlo.png);
	background-repeat:no-repeat;
	background-size:cover;
	position:sticky;
}
	.tresc img {
		border:8px outset;
		border-radius: 50%;
		width:80px;
		height:80px;
		transition: 0.3s;
		margin:2px;
		opacity:0.8;
	}
		.tresc img:hover {
			border-color:#FF0000;
			opacity:1;
		}
		.tresc img:active {
			border:6px inset #660000;
		}
		.tresc a:link, a:visited { 
		  color:#FFF;
		}
#papi {
	height:100px;
	background-color:#9370DB;
	padding:0;
	position:sticky;
	clear:both;
}
	#papi h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#papi img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#papi img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#papi img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
#poke {
	height:100px;
	background-color:#FF9900;
	padding:0;
	position:sticky;
	clear:both;
}
	#poke h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#poke img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#poke img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#poke img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
#renifer {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
	clear:both;
}
	#renifer h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#renifer img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#renifer img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#renifer img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
#shalia {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
	clear:both;
}
	#shalia h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#shalia img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#shalia img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#shalia img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
#vitay {
	height:100px;
	background-color:#00FF00;
	padding:0;
	position:sticky;
	clear:both;
}
	#vitay h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#vitay img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#vitay img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#vitay img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
#tancel {
	height:100px;
	background-color:#CC0033;
	padding:0;
	position:sticky;
	clear:both;
}
	#tancel h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#tancel img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#tancel img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#tancel img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
#khotak {
	height:100px;
	background-color:#0000CC;
	padding:0;
	position:sticky;
	clear:both;
}
	#khotak h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#khotak img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#khotak img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#khotak img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
#jaffar {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
	clear:both;
}
	#jaffar h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#jaffar img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#jaffar img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#jaffar img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
#river {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
	clear:both;
}
	#river h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	#river img{
			float:right;
			margin-top:1%;
			margin-right:1%;
			background-color:#FFF;
			border:4px solid #000;
			border-radius: 8px;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}
			#river img:hover {
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			#river img:active {
				background-color:#939393;
				box-shadow:5px;
				transform: translateY(4px);
			}
	.obraz img {
		max-width:100%;
		max-height:100%;
		width:20%;
		height:20%;
		float:left;
		margin-top:2%;
		margin-left:2%;
		margin-bottom:2%;
		border:dashed 5px #FFF;
		}
	.obraz img:hover {
		animation: shake 0.5s;
		animation-iteration-count:infinite; 
		}
	@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
	}
	.tabela table {
		float:left;
		margin-top:2%;
		margin-left:3%;
		width:40%;
		border-left:5px dotted #FFF;
		border-right:5px dotted #FFF;
		color:#FFF;
		font-family: 'Roboto Slab', serif;
		text-align:center;
	}
	.gif img {
		float:right;
		border:dashed 5px #FFF;
		margin-top:2%;
		margin-right:2%;
		margin-bottom:2%;
		width:30%;
		height:30%;
	}
	.lista ul {
		text-align:center;
		list-style-type:none;
		margin-left:17%;
		float:left;
		color:#FFF;
	}
	.lista h4{
		font-size:25px;
		margin:0;
		padding:0;
		font-family: 'Bungee', cursive;
	}
	.lista li {
		font-family: 'Oswald', sans-serif;
		font-size:20px;
	}
#stopka {
	height:25px;
	background-color:#666;
	padding:0;
	position:sticky;
	clear:both;
	text-shadow: 3px 3px 3px #000000;
	color:#FFF;
	text-align:center;
	font-style:italic;
}
	#stopka h3 {
		margin:0;
	}
	#stopka a {
		color:#FF3333;
	}
	
margin-top:5%