body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0;
	background-color:#000;
}
#naglowek {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
}
	#naglowek h1 {
		height:100px;
		font-size:50px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Permanent Marker', cursive;
		margin:0;
	}
.tresc {
	width:100%;
	float:left;
	height:568px;
	background-image:url(tlo.png);
	background-repeat:no-repeat;
	background-size:cover;
	position:sticky;
}
	.tresc img {
		border:7px outset;
		border-radius: 50%;
		width:70px;
		height:70px;
		opacity: 0.3;
		transition: 0.3s;
	}
		.tresc img:hover {
			opacity: 0.5;
		}
		.tresc img:active {
			opacity: 1;
			border:6px inset;
		}
#papi {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
	clear:both;
}
	#papi h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
#poke {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
	clear:both;
}
	#poke h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
#khotak {
	height:100px;
	background-color:#123456;
	padding:0;
	position:sticky;
	clear:both;
}
	#khotak h1 {
		height:100px;
		font-size:40px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		font-family: 'Bungee', cursive;
		margin:0;
	}
	.obraz img {
		width:250px;
		height:470px;
		float:left;
		margin-top:2%;
		margin-left:2%;
		margin-bottom:2%;
		border:dashed 5px #FFF;
		}
	.obraz img:hover {
		animation: shake 0.5s;
		animation-iteration-count:infinite; 
		}
	@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
	}
	.tabela table {
		float:left;
		margin-top:2%;
		margin-left:8%;
		width:350px;
		border-left:5px dotted #FFF;
		border-right:5px dotted #FFF;
		color:#FFF;
		font-family: 'Roboto Slab', serif;
		text-align:center;
	}
	.gif img {
		float:right;
		border:dashed 5px #FFF;
		margin-top:2%;
		margin-right:2%;
		margin-bottom:2%;
	}
	
margin-top:5%