body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0;
	background-color:#123456;
}
.naglowek {
	background-color:#123456;
	padding:0;
	position:sticky;
	height:100px;
	box-shadow: 7px 7px 7px 7px;
	z-index:2;
	border-radius: 5%
}
	.naglowek h1 {
		font-family: 'Monoton', cursive;
		padding-top:15px;
		height:100px;
		font-size:50px;
		color:#FFFFFF;
		text-shadow: 3px 3px 3px #000000;
		text-align:center;
		margin:0;
	}
.tablica {
	width:100%;
	min-height:575px;
	max-height:100%;
	float:left;
	position:sticky;
	background-image:url(tlo.gif);
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow:7px 7px 7px 7px;
	z-index:1;
}
.menu {
	width:300px;
	float:left
}
.tekst {
	float:left;
	z-index:1;
}
	#papi{
		margin-top:100px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#9370DB;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		margin-bottom:0px;
		padding-bottom:0px;
	}
		#papi:hover {
			background-color:#A87FFA;
			width:300px;
		}
		#papi:active {
			border:inset #fff;
			transform: translateY(4px);
		}
		
	#papi1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#9370DB;
		background-color:#000;
	}	
		#papi1:hover {
			font-size:56px;
		}
	#papi2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#papi3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}
	
	#poke{
		margin-top:0px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#FF9900;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		margin-bottom:0px;
		padding-bottom:0px;
	}
		#poke:hover {
			background-color:#FFBD59;
			width:300px;
		}
		#poke:active {
			border:inset #fff;
			transform: translateY(4px);
		}
		
	#poke1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#FF9900;
		background-color:#000;
	}	
		#poke1:hover {
			font-size:56px;
		}
	#poke2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#poke3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}
	
	#renifer{
		margin-top:0px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#123456;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		margin-bottom:0px;
		padding-bottom:0px;
	}
		#renifer:hover {
			background-color:#1D568F;
			width:300px;
		}
		#renifer:active {
			border:inset #fff;
			transform: translateY(4px);
		}
	
	#renifer1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#123456;
		background-color:#000;
	}	
		#renifer1:hover {
			font-size:56px;
		}
	#renifer2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#renifer3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}
	
	#tancel{
		margin-top:0px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#CC0033;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		margin-bottom:0px;
		padding-bottom:0px;
	}
		#tancel:hover {
			background-color:#F03C69;
			width:300px;
		}
		#tancel:active {
			border:inset #fff;
			transform: translateY(4px);
		}
		
	#tancel1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#CC0033;
		background-color:#000;
	}	
		#tancel1:hover {
			font-size:56px;
		}
	#tancel2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#tancel3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}
	
	#khotak{
		margin-top:0px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#0000CC;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		margin-bottom:0px;
		padding-bottom:0px;
	}
		#khotak:hover {
			background-color:#5454F7;
			width:300px;
		}
		#khotak:active {
			border:inset #fff;
			transform: translateY(4px);
		}
		
	#khotak1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#0000CC;
		background-color:#000;
	}	
		#khotak1:hover {
			font-size:56px;
		}
	#khotak2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#khotak3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}
	
	#river{
		margin-top:0px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#FFF;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		margin-bottom:0px;
		padding-bottom:0px;
	}
		#river:hover {
			background-color:#FFF;
			width:300px;
		}
		#river:active {
			border:inset #fff;
			transform: translateY(4px);
		}
		
	#river1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#FFF;
		background-color:#000;
	}	
		#river1:hover {
			font-size:56px;
		}
	#river2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#river3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}
	
	#jaffar{
		margin-top:0px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#1F8039;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		margin-bottom:0px;
		padding-bottom:0px;
	}
		#jaffar:hover {
			background-color:#1F8039;
			width:300px;
		}
		#jaffar:active {
			border:inset #fff;
			transform: translateY(4px);
		}
		
	#jaffar1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#1F8039;
		background-color:#000;
	}	
		#jaffar1:hover {
			font-size:56px;
		}
	#jaffar2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#jaffar3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}
	
	#shalia{
		margin-top:0px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#FFCCCC;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		margin-bottom:0px;
		padding-bottom:0px;
	}
		#shalia:hover {
			background-color:#FFCCCC;
			width:300px;
		}
		#shalia:active {
			border:inset #fff;
			transform: translateY(4px);
		}
		
	#shalia1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#FFCCCC;
		background-color:#000;
	}	
		#shalia1:hover {
			font-size:56px;
		}
	#shalia2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#shalia3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}
	
	#vitay{
		margin-top:0px;
		margin-bottom:100px;
		width:250px;
		height:64px;
		border:5px outset #fff;
		border-left:none;
		background-color:#00FF00;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		font-family: 'Bangers', cursive;
		font-size:32px;
		border-radius:5px;
		float:left;
		padding-bottom:0px;
	}
		#vitay:hover {
			background-color:#00FF00;
			width:300px;
		}
		#vitay:active {
			border:inset #fff;
			transform: translateY(4px);
		}
		
	#vitay1 {
		width:600px;
		max-width:100%;
		margin-top:32px;
		margin-left:64px;
		border:solid 5px #000;
		font-family: 'Saira Stencil One', cursive;
		font-size:48px;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		color:#00FF00;
		background-color:#000;
	}	
		#vitay1:hover {
			font-size:56px;
		}
	#vitay2 {
		width:500px;
		max-width:100%;
		margin-top:32px;
		margin-left:114px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:14px
	}
	#vitay3 {
		width:200px;
		max-width:100%;
		margin-top:32px;
		margin-left:264px;
		border:solid 5px #000;
		background-color:#FFF;
		font-family: 'Press Start 2P', cursive;
		font-size:12px
	}

.obraz {
	width:25%;
	background-color:#666;
	float:right;
	border-left:solid 5px;
	box-shadow:7px 7px 7px 7px;
}
	.obraz img {
		max-width:100%;
		max-height:100%;
		width:80%;
		height:80%;
		float:left;
		margin-top:10%;
		margin-left:10%;
		margin-bottom:2%;
		border:dashed 5px;
	}
	.obraz img:hover {
		animation: shake 0.5s;
		animation-iteration-count:infinite; 
		}
	@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
	}
.stopka {
	height:40px;
	background-color:#000;
	padding:0;
	position:sticky;
	clear:both;
	text-shadow: 3px 3px 3px #000000;
	box-shadow:7px 7px 7px 20px #000;
	color:#FFF;
	text-align:center;
	font-style:italic;
	padding-top:1%;
	z-index:2;
}
	.stopka h3 {
		margin:0;
	}
